:root {
  --main-color: rgb(56, 144, 206);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

/* Header */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  gap: 50px;
  background-color: var(--main-color);
}

#logo-group {
  margin-top: 25px;
  font-size: 2.5rem;
  color: white;
  background-color: transparent;
}

#nav-title-group {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 2rem;
}
#nav-main-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  flex-direction: column;
  justify-content: center;
}

nav > * {
  width: 225px;
  height: 50px;
  margin-top: 15px;
  background-color: white;
  color: var(--main-color);
  font-size: 1.65rem;
  transition: all ease-in-out 0.25s;
}
nav > * > * {
  margin-left: 10px;
}

/* Project section */
#project-main-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#project-logo-group {
  font-size: 2rem;
  color: white;
}

#project-li-group {
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  color: var(--main-color);
  list-style-type: none;
  transition: all ease-in-out 0.25s;
  font-size: 1.75rem;
}

#project-li-group > * {
  margin: 10px 0 0 25px;
  color: var(--main-color);
  cursor: pointer;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

/* Title */
.main-title-group {
  font-size: 3rem;
  color: var(--main-color);
}

#task-display-area {
  height: 850px;
  width: 1500px;
}

#add-new-task-group {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  font-size: 1.5rem;
  transition: all ease-in-out 0.25s;
}

#modal {
  display: none;
  position: fixed;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
#modal > * {
  margin-top: 10px;
}
.input-main-group {
  flex-direction: column;
  margin-top: 10px;
}
input {
  height: 40px;
  font-size: 1.15rem;
}
textarea {
  height: 140px;
  width: 230px;
  font-size: 1.15rem;
}

#submit-button {
  margin: auto;
  padding: 10px;
  border-style: none;
  background-color: white;
  color: var(--main-color);
  font-size: 1.25rem;
  transition: all ease-in-out 0.25s;
}

/* Logo, hover, icons etc. */
.fa-solid,
.fa-regular {
  font-size: 30px;
}

.main-title-icon,
.big-logo {
  font-size: 50px;
}
.fa-house {
  font-size: 40px;
}

#logo-group,
nav,
nav > *,
#project-logo-group,
.main-title-group,
#add-new-task-group,
.input-main-group,
#input-date-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav > *:hover,
#add-new-task-group:hover,
#submit-button:hover {
  cursor: pointer;
  scale: 1.15;
}
